.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-height: 400px; */
  max-width: 220px;
  box-sizing: border-box;
  padding: 10px 0;
  margin-right: 20px;
  flex-basis: 100%;
}

.cardImage {
  width: 100%;
  padding: 0;
  z-index: 99999;
}
.cardImage img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.cardDescription {
}
.cardBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  margin: -15px;
  width: 200px;
  padding: 15px 10px;
  border-radius: 10px;
}
