.homeContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.moviePanel {
  background-color: #f9d403;
  flex-basis: calc(100% - 4rem);
  padding: 2rem;
}
.movieListContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.moviesContainer {
  position: relative;
}
.moviePoster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moviePoster img {
  width: auto;
  height: 50vh;
  padding: 20px;
}
.selectedMovieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.movieCategories {
  display: flex;
  justify-content: space-between;
}
.genres {
  text-transform: capitalize;
}
.movieDescription {
  padding: 10px 0px;
}
.fvrtButton {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 3px 2px 17px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fvrtButton img {
  color: black;
}
.fvrtSection {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedMoviePanel {
  background-color: white;
  flex-basis: calc(50% - 4rem);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout {
  text-align: end;
  padding-right: 20px;
  background: #f9d403;
  color: #fe2ebb;
  cursor: pointer;
  position: absolute;
  right: 0;
}

@media (min-width: 1100px) {
  .moviePanel {
    background-color: #f9d403;
    border-radius: 0px 15px 15px 0px;
    flex-basis: calc(50% - 4rem);
    padding: 2rem;
  }
  .logout {
    background: white;
  }
  .homeContainer {
    flex-direction: row;
  }

  .noDataImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .noDataImage img {
    width: 100%;
    height: 60vh;
    padding: 20px;
  }
  .movieDetails {
    display: flex;
    flex-direction: column;
  }
}
