.homeContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.moviePanel {
  background-color: #f9d403;
  flex-basis: calc(100% - 4rem);
  padding: 2rem;
}
.selectedMoviePanel {
  display: none;
}

@media (min-width: 900px) {
  .selectedMoviePanel {
    background-color: white;
    flex-basis: calc(50% - 4rem);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .noDataImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .noDataImage img {
    width: 100%;
    height: 60vh;
    padding: 20px;
  }

  .moviePanel {
    background-color: #f9d403;
    border-radius: 0px 15px 15px 0px;
    flex-basis: calc(50% - 4rem);
    padding: 2rem;
  }
}
